<h1>Book Club</h1>
<h3>Developed by: Chris Lewis and Jennica Stiehl</h3>
<a href="https://github.com/JennicaStiehl">GitHub: Jennica</a>
<a href="https://github.com/csvlewis">GitHub: Chris Lewis</a>
<a href="https://github.com/JennicaStiehl/book_club">GitHub Project Page</a>
<a href="https://waffle.io/JennicaStiehl/book_club">Waffle Project Page</a>
